* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.section-form {
  background-color: #fafafa;
  color: #141414;
  font-family: "Montserrat";
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 40px;
  height: 100vh;
  padding: 70px 30px;
}

.section-form__title {
  text-align: center;
  font-size: 32px;
  margin: 0;
}

.form {
  display: grid;
  gap: 20px;
  max-width: 425px;
  min-width: 315px;
}

.form__h3 {
  font-size: 13px;
  margin: 0;
}

.form__input {
  border: solid 2px #141414;
  border-radius: 4px;
  font-family: "Montserrat";
  font-size: 25px;
  width: 100%;
  height: 45px;
}

.form__textarea {
  border: solid 2px #141414;
  border-radius: 4px;
  font-family: "Montserrat";
  font-size: 18px;
  width: 100%;
  height: 160px;
}

.form__button {
  border: none;
  background-color: #141414;
  color: #fafafa;
  font-family: "Montserrat";
  font-size: 17px;
  font-weight: 700;
  height: 45px;
  margin-top: 20px;
}
